.running {
    animation: run infinite alternate;
    background: "./../../assets/loading_animations/dino_run1.png";

}

@keyframes run {
    0% {
        left: 0;
        background: "./../../assets/loading_animations/dino_run1.png";
    }

    100% {
        left: 200;
        background: "././../assets/loading_animations/dino_run2.png";
    }
}